    @media(min-width: 1024px) {
        #header {
            margin-left: 170px;
            margin-right: 170px;
        }
        .mobile_menu_button {
            height: 26px;
        }
        .menu_icon:hover {
            background: yellow;
        }
        .bar {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .include {
            padding-top: 87px;
        }
        .btn_menu {
            display: none;
        }
        .section_reasons {
            height: 436px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-top: 50px;
        }
        .many_reasons {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 170px;
            padding-top: 98px;
        }
        .single_picture {
            flex: 1;
            display: flex;
            padding-top: 104px;
        }
        .sub {
            padding-bottom: 20px;
        }
        .btn_demo {
            margin-bottom: 20px;
        }
        .single-image {
            padding-left: 74px;
        }
        .secondarytitle {
            text-align: center;
        }
        .section_your_choice {
            padding-top: 104px;
        }
        .label {
            text-align: center;
        }
        .reason_ecstatic {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .reason_ecstatic,
        .all_folly_endeavor {
            padding-right: 52px;
        }
        .text_open,
        .text_endeavor,
        .text_possible {
            padding-top: 35px;
        }
        .all_folly_endeavor {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .section_image {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-top: 329px;
            height: 30px;
            justify-content: center;
            opacity: 0.4;
        }
        .all_comfort_possible {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .many_reasons_down {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-left: 220px;
            margin-right: 220px;
        }
        .text_ecstatic,
        .text_open,
        .text_folly,
        .text_endeavor,
        .text_comfort,
        .text_possible {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .image_icon {
            padding-right: 28px;
        }
        .many_reasons_down {
            padding-top: 50px;
        }
        .section_increase_map {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-top: 200px;
            margin-left: 249px;
            margin-right: 70px;
        }
        .increase {
            padding-right: 58px;
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .all_map {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 399px;
        }
        .learmore {
            margin-top: 57px;
        }
        .learmore_1 {
            padding-top: 43px;
        }
        .simple {
            text-align: center;
            padding-top: 198px;
        }
        .all_simple_2 {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .simple_1 {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-left: 288px;
        }
        .discount,
        .bunch {
            padding-left: 109px;
        }
        .discount,
        .bunch,
        .reasons {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .section_saving {
            padding-left: 75px;
            padding-right: 174px;
            padding-top: 198px;
        }
        .money,
        .save {
            padding-left: 6px;
            padding-right: 6px;
        }
        .next {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-left: 335px;
        }
        .frame {
            height: 456px;
            padding-left: 118px;
            padding-right: 119px;
            padding-top: 15px;
        }
        .new_project {
            padding: 0 6px;
        }
        .all_invest,
        .omah {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .section_commitment {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-top: 143px;
        }
        .all_invest {
            padding-left: 251px;
            padding-right: 56px;
        }
        .we {
            padding-top: 32px;
        }
        .omah_1 {
            width: 403px;
            height: 414px;
        }
        .group,
        .all_feature {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .section_help_finding {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-top: 104px;
            padding-left: 64px;
        }
        .group_1 {
            width: 494px;
            height: 446px;
        }
        .all_feature {
            padding-right: 160px;
            padding-left: 84px;
        }
        .many_all {
            padding: 50px 155px 26px 156px;
        }
        .your_all {
            padding-left: 30px;
        }
        .send_1 {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: #F2994A;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .section_reasons_getdown {
            margin-left: 250px;
            margin-right: 250px;
        }
        .send {
            padding: 0 25px;
        }
        .footer {
            padding-left: 200px;
            padding-right: 248px;
        }
        .all_page {
            padding-top: 94px;
        }
        .testimonials {
            padding-top: 106px;
        }
        .policy {
            padding-left: 32px;
        }
    }
    /* TABLET &&  MOBILE*/
    /* TABLE */
    
    @media(min-width: 740px) and (max-width: 1023px) {
        .include {
            padding-top: 87px;
            text-align: center;
        }
        .btn_menu {
            display: none;
        }
        .bar {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .section_top_bar {
            padding-left: 30px;
        }
        .single_image {
            padding-top: 16px;
            height: 36px;
            width: 36px;
        }
        .section_reasons {
            padding-top: 80px;
        }
        .many_reasons {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 60px;
        }
        .single_picture {
            flex: 1;
            display: flex;
            padding-top: 104px;
            justify-content: center;
        }
        .success_work {
            padding-top: 60px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            padding-left: 60px;
            padding-right: 60px;
        }
        .single-image {
            padding-right: 20px;
            opacity: 0.6;
        }
        .section_image {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            height: 30px;
            justify-content: center;
            opacity: 0.4;
            padding-left: 10px;
        }
        .many_reasons_down {
            padding: 0 50px;
            padding-top: 50px;
        }
        .text_ecstatic,
        .text_open {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .reason_ecstatic {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .text_comfort,
        .text_possible {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .all_comfort_possible {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .text_folly,
        .text_endeavor {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .all_folly_endeavor {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .text_ecstatic,
        .text_folly,
        .text_comfort {
            padding-right: 8px;
        }
        .text_open,
        .text_possible,
        .text_endeavor {
            padding-left: 8px;
        }
        .section_increase_map {
            padding-top: 85px;
        }
        .map {
            padding-top: 70px;
        }
        .learmore_1 {
            padding-top: 40px;
        }
        .section_saving {
            padding-top: 60px;
        }
        .money,
        .save {
            padding: 0 7px;
        }
        .reasons,
        .bunch {
            padding-bottom: 30px;
        }
        .simple_1 {
            padding: 0 35px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .section_create_project {
            padding-top: 80px;
        }
        .next {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
        .frame_1 {
            width: 500px;
            height: 250px;
        }
        .frame {
            padding-top: 40px;
        }
        .section_commitment {
            margin-top: 70px;
        }
        .we {
            padding: 7px 30px;
        }
        .section_help_finding {
            padding-top: 80px;
        }
        .section_reasons_getdown {
            margin-top: 80px !important;
            margin-left: 40px;
            margin-right: 40px;
        }
        .send_1 {
            width: 128px;
            height: 50px;
        }
        .your_all {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .footer {
            margin-bottom: 500px;
            padding-top: 30px;
        }
        .all_twitter {
            padding: 40px 35px;
        }
        .all_page {
            text-align: center;
        }
        .testimonials {
            padding-top: 40px;
        }
        .policy {
            padding-left: 30px;
        }
    }
    /* MOBILE*/
    
    @media (max-width: 739px) {
        .include {
            margin: 10px 10px;
            text-align: center;
        }
        #header {
            margin: 0px;
        }
        .section_top_bar,
        .button {
            overflow: hidden;
        }
        .button {
            background: orange;
        }
        .bar {
            display: none;
        }
        #nav li a {
            background-color: orange;
            width: 100%;
            text-decoration: none;
        }
        #nav li {
            display: block !important;
            background-color: orange;
        }
        .btn_signup {
            background: orange !important;
        }
        .section_top_bar {
            background: orange;
        }
        .single_image {
            display: none;
        }
        .header {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 100%;
        }
        .btn_menu {
            color: rosybrown;
            width: 50px;
            height: 50px;
            display: block;
        }
        .header_btn {
            width: 190px;
            height: 50px;
        }
        .header_btn:hover .bar {
            display: block;
        }
        .section_top_bar {
            position: relative;
        }
        .subtitle {
            padding-top: 40px;
        }
        .btn_demo,
        .btn_learnmore {
            padding: 15px 18px !important;
        }
        .body {
            padding-top: 60px;
            text-align: center;
        }
        .mainheading {
            width: 100%;
        }
        .subtitle {
            padding-top: 19px;
        }
        .success_work {
            padding-top: 60px;
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
        }
        .image_youtube {
            display: flex;
            flex: 1;
            padding-right: 20px;
            height: 80px;
        }
        .success {
            display: flex;
            flex-direction: column;
            flex: 2;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            line-height: 22px;
            color: rgba(132, 118, 170, 1);
        }
        .text_youtube_2 {
            margin-top: 6px;
        }
        .single_picture {
            padding-top: 50px;
        }
        .single-image {
            padding-bottom: 40px;
            opacity: 0.6;
        }
        .many_reasons_down {
            margin-top: 40px;
        }
        .text_ecstatic,
        .text_open,
        .text_folly,
        .text_endeavor,
        .text_comfort,
        .text_possible {
            padding-top: 40px;
        }
        .widget {
            padding-left: 60px;
            padding-right: 60px;
        }
        .image_icon {
            padding-bottom: 28px;
        }
        .section_increase_map {
            padding-top: 169px;
        }
        .all_map {
            height: 399px;
        }
        .learmore {
            border: 1px solid #F2994A;
            border-radius: 3px;
            padding: 8px 13px;
            color: white;
            background: #F2994A;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
        }
        .learmore_1 {
            padding: 58px 0;
        }
        .discount,
        .bunch,
        .reasons {
            padding-top: 35px;
        }
        .section_saving {
            padding-top: 150px;
        }
        .next {
            padding-top: 169px;
            color: #99EFD0;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            letter-spacing: 1px;
        }
        .frame {
            padding-top: 34px;
        }
        .frame_1 {
            width: 400px;
            height: 200px;
        }
        .new_project {
            color: #F2994A;
        }
        .all_invest,
        .section_commitment {
            padding-top: 33px;
        }
        .invest {
            height: 100px;
            font-Weight: 700;
            font-Style: normal;
            font-Size: 42px;
            Line-height: 50px;
            color: #99EFD0;
            text-align: center;
        }
        .business {
            color: #F2994A;
        }
        .we {
            padding-top: 90px;
        }
        .omah {
            padding-top: 90px;
        }
        .omah_1 {
            width: 390px;
            height: 414px;
        }
        .section_help_finding {
            padding-top: 60px;
        }
        .group_1 {
            width: 394px;
            height: 346px;
        }
        .there_are {
            padding-top: 50px;
            font-style: normal;
            font-size: 36px;
            color: #F2994A;
            line-height: 43px;
            text-align: center;
        }
        .there_are_many {
            color: #95A1BB;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
        .your_email {
            background: rgba(60, 62, 125, 0.19);
            position: relative;
            border-radius: 5px;
            color: #F6F6F6;
            width: 190px;
            height: 40px;
            border: none;
        }
        .send_1 {
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .send {
            padding: 10px 20px;
            background: #F2994A;
            text-decoration: none;
        }
        .your_all {
            justify-content: center;
        }
        .no_spam {
            padding-top: 16px;
            color: #3B1D60;
            padding-left: 50px;
            padding-bottom: 52px;
        }
        .all_page {
            padding-top: 30px;
        }
        .testimonials {
            padding-top: 50px;
        }
        .policy {
            padding-left: 12px;
        }
        .footer {
            text-align: center;
            margin-bottom: 300px;
        }
    }